/* Шрифты всего макета */
@font-face {
  font-family: 'Albegos Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Albegos Regular'), url("../fonts/Albegos.woff") format('woff');
}

@font-face {
  font-family: 'Playfair Display Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Playfair Display Regular'), url("../fonts/PlayfairDisplay-Regular.woff") format('woff');
}

@font-face {
  font-family: 'Plantagenet Cherokee';
  font-style: normal;
  font-weight: normal;
  src: local('Plantagenet Cherokee'), url("../fonts/PlantagenetCherokee.ttf") format('ttf');
}

@font-face {
  font-family: 'Hind Vadodara Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Hind Vadodara Regular'), url("../fonts/HindVadodara-Regular.woff") format('woff');
}

/* Изображения */
img {
  max-width: 100%;
  max-height: 100%;
}

/* Заголовки */
h2 {
  font-family: 'Playfair Display Regular';
  font-size: 35px;
  font-weight: lighter;
}

h3 {
  margin: 0;
  font-family: 'Playfair Display Regular';
  font-size: 24px;
  font-weight: lighter;
}

/* Стилизация хэдера */
header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  padding-top: 30px;
  height: 822px;

  background: url(../images/header-image.jpg) no-repeat;
}

.logo {
  grid-column: 2/4;

  font-family: 'Albegos Regular';
  font-size: 35px;
  color: #FFFFFF;
}

nav {
  grid-column: 5/10;

  display: flex;
  justify-content: space-around;

  font-family: 'Playfair Display Regular';
  font-size: 17px;
  color: #FFFFFF;
}

.search-bar {
  grid-column: 10/12;

  width: 200px;
}

.search-input,
.search-submit {
  background: transparent;
  border: none;
}

.search-input {
  width: 75%;
  border-bottom: 2px solid #B7B7B7;
}

::placeholder {
  font-family: 'Plantagenet Cherokee';
  font-size: 15px;
  color: #B7B7B7;
}

.header-text {
  grid-column: 2/7;
}

.header-text h2 {
  line-height: 47px;
  color: #FFFFFF;
}

.header-text p {
  width: 75%;

  font-family: 'Hind Vadodara Regular';
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.header-button {
  width: max-content;
  padding: 5px;
  border: 1px solid #9B8C7C;

  background-color: #F0F0F0;
}

.header-button a {
  text-decoration: none;
  font-family: 'Playfair Display Regular';
  font-size: 19px;
  color: #494949;
}

.header-button a:hover {
  text-decoration: underline;
}

/* Стилизация основного содержимого */

section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);


  margin-top: 90px;
}

.section-title {
  grid-column: 2/12;

  display: grid;
  justify-items: center;
}

.section-title h3 {
  color: #000000;
}

.section-title p {
  font-family: 'Hind Vadodara Regular';
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

/* Секция 1 */
.dresses-items {
  grid-column: 2/12;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.dresses-items figure {
  margin: 5%;
}

#dress-1 {
  grid-column: 1/2;
}

#dress-2 {
  grid-column: 2/3;
}

#dress-3 {
  grid-column: 3/4;
}

#dress-4 {
  grid-column: 4/5;
}

.dress-name {
  font-family: 'Playfair Display Regular';
  font-weight: bolder;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.dress-price {
  font-family: 'Hind Vadodara Regular';
  font-size: 16px;
  line-height: 21px;
  color: #767575;
}

/* Секция 2 */
.designers-container {
  grid-column: 2/12;

  display: grid;
  grid-template-columns: 1fr 2fr;
}

.designers-list {
  grid-column: 1/2;

  margin-right: 5%;

  align-self: center;
}

.designer-name {
  padding-top: 5%;
  padding-bottom: 5%;

  font-family: 'Playfair Display Regular';
  font-size: 20px;
  line-height: 21px;
  color: #000000;
}

#verawong {
  border-bottom: 2px solid #9B8C7C;
  color: #9B8C7C;
}

#other-designers {
  margin-top: 10%;

  font-family: 'Hind Vadodara Regular';
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.right-arrow {
  align-self: last baseline;
}

.selected-designer {
  grid-column: 2/4;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.large-photo {
  width: 100%;
  margin-bottom: 3%;
}

.small-photo {
  width: 48%;
}

/* Секция 3 */
.new-collection {
  grid-column: 2/12;

  display: flex;
  justify-content: space-between;
}

#first-dress {
  align-self: flex-end;
  margin-bottom: 5%;
}

#central-dress {
  align-self: center;
}

#last-dress {
  align-self: flex-start;
  margin-top: 5%;
}

#newcollection-button {
  grid-column: 2/12;
  justify-self: center;

  margin-top: 5%;
}

.sections-button {
  width: max-content;
  padding: 10px;

  background-color: #9B8C7C;
}

.sections-button a {
  text-decoration: none;
  font-family: 'Playfair Display Regular';
  font-size: 17px;
  color: #FFFFFF;
}

.sections-button a:hover {
  text-decoration: underline;
}

/* Секция 4 */
.accessories-container {
  grid-column: 2/12;

  display: grid;
  grid-template-columns: 1fr 2fr;
}

.accessories-text {
  grid-column: 1/2;
}

.accessories-text p {
  margin-top: 10%;
  margin-bottom: 10%;

  font-family: 'Hind Vadodara Regular';
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.accessories-items {
  grid-column: 2/4;

  display: flex;
  justify-content: space-between;
}

.accessories-items figure {
  margin: 1%;
}

#accessories-button {
  padding-left: 30px;
  padding-right: 30px;
}

/* Секция 5 */
.form-container {
  grid-column: 2/12;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-photo {
  grid-column: 1/2;
  padding: 5%;
}

.form-text {
  grid-column: 2/3;
}

.form-text h2 {
  margin: 0;
}

.inputs {
  width: 80%;
}

#name-input,
#phone-input {
  width: 100%;
  height: 50px;
  border: 0;
  border-bottom: 1px solid #B7B7B7;
}

#name-input::placeholder,
#phone-input::placeholder {
  font-family: 'Hind Vadodara Regular';
  font-size: 17px;
  color: #B7B7B7;
}

#date-input,
#time-input {
  width: 45%;
  height: 50px;
  margin-top: 20px;

  font-family: 'Hind Vadodara Regular';
  font-size: 17px;
  color: #B7B7B7;
}

#date-input {
  margin-right: 5%;
}

#form-submit {
  border: 0;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 60px;

  color: #FFFFFF
}

/* Секция 6 */
#instagram {
  color: #5C5C5C;
}

.posts {
  grid-column: 2/12;

  display: flex;
  justify-content: space-between;
}

.post {
  margin: 1%;
}

/* Стилизация футера */
footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  margin-top: 90px;

  background-color: #F0F0F0;
}

.footer-container {
  grid-column: 2/12;

  margin-top: 5%;
  margin-bottom: 5%;

  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

#footer-logo {
  color: #000000;
}

.footer-text p {
  font-family: 'Hind Vadodara Regular';
  font-size: 15px;
  line-height: 16px;
  color: #000000;
}

#phone-number,
.subscription p {
  margin: 0;

  font-family: 'Hind Vadodara Regular';
  font-size: 20px;
  line-height: 21px;
  color: #000000;
}

#email {
  font-family: 'Hind Vadodara Regular';
  font-size: 15px;
  line-height: 21px;
  color: #000000;
}

.subscription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subscription-form {
  margin-bottom: 15%;
}